<div class="container">
    <h1 style="color: blanchedalmond;">About Us</h1>
        <p style="color: blanchedalmond;">Somos un grupo que apoya fervientemente el reinado de Daenerys de la Tormenta, La que no arde, Rompedora de cadenas, Madre de Dragones, Khaleesi de los Dothraki y del Gran Mar de Hierba, Reina de los Ándalos, los Rhoynar y los Primeros Hombres, Señora de los Siete Reinos y protectora del Reino, Princesa de Rocadragón, Reina de Meereen. Todos los derechos reservados</p>
</div>
