<div class="card">
    <div class="card-body">

        <h1>About Us</h1>
        <p>Somos un grupo que apoya fervientemente el reinado de Daenerys Targaryen, todos los derechos reservados</p>
    </div>
</div>