<div class="jumbotron-mt-4">
    <h1 class = "display-4">DRACARYS APP</h1>
    <p class="lead">Un reino con dragones es un reino feliz.</p>
    <hr class="my-4">
    <p>En está aplicación podrás estar al tanto de la campaña de conquista de nuestra reina Daenerys 
        Targaryen. Podrás ver sus dragones y súbditos, amados y mucho más.</p>
</div>