<header>
    {{> navigation }}

    <div class="textos">
        <h1 class="display-4">Dracarys APP</h1>
        <p class="lead title">Un reino con dragones es un reino feliz.</p>
    </div>
</header>



<script>
    document.getElementById('disp').style.display = 'none';
</script>


<div class="container">
    <div class="row my-5">
        <div class="col-md-7">
            <h2 class="text-white text-center my-5">Territorios Conquistados</h2>
            <img class="imge ml-5" src="/images/poniente.png" alt="">
        </div>

        <div class="col-md-5 my-5">
            <h3 class="text-white mb-5">Los Siete Reinos</h3>
            <ul class="ul1 p-0">
                <a href="#">
                    <li>El Norte, con capital en Invernalia.</li>
                </a>
                <a href="#">
                    <li>Tierras de los Ríos, con capital en Aguasdulces.</li>
                </a>
                <a href="#">
                    <li>El Valle de Arryn, con capital en el Nido de Águilas.</li>
                </a>
                <a href="#">
                    <li>Islas del Hierro, con capital en Pyke.</li>
                </a>
                <a href="#">
                    <li style="color: crimson;">El Occidente, con capital en Roca Casterly.</li>
                </a>
                <a href="#">
                    <li>El Dominio, con capital en Altojardín.</li>
                </a>
                <a href="#">
                    <li>Tierras de la Corona, con capital en Desembarco del Rey.</li>
                </a>
                <a href="#">
                    <li style="color: crimson;">Tierras de Tormentas, con capital en Bastión de Tormentas.</li>
                </a>
                <a href="#">
                    <li>Dorne, con capital en Lanza del Sol.</li>
                </a>
            </ul>
            <h4 class="text-white text-center my-4">Mantente informado Con la Consquista de La Reina Daenerys</h4>
            <div class="twit" style="overflow: scroll;">
                <a class="twitter-timeline" href="https://twitter.com/Los7Reinos?ref_src=twsrc%5Etfw">Tweets by
                    Los7Reinos</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>


</div>
<div class="container">
    <div class="col">
        <h2 class="text-center my-5 text-white">Tiempo Regresivo para la conquista de la Reina Daenerys</h2>
    </div>
</div>
<div class="row my-4">
    <div class="col">
        <div class="contador parallax">
            <div class="cuenta-regresiva container">
                <ul class="resumen-evento clearfix">                
                    <li>
                        <p id="dias" class="numero"></p>Días
                    </li>
                    <li>
                        <p id="horas" class="numero"></p>Horas
                    </li>
                    <li>
                        <p id="minutos" class="numero"></p>Minutos
                    </li>
                    <li>
                        <p id="segundos" class="numero"></p>Minutos
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <section class="invitados contenedor seccion">
                <h2 class="text-center text-white mb-5">Personajes más Buscados</h2>
                <ul class="lista-invitados clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invidae.png" alt="Imagen invitado">
                                    <p class="text-center">Daenerys Targeryen</p>
                                </div>
                            </li>
                        </div>

                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invijon.png" alt="Imagen invitado">
                                    <p class="text-center">Jon Snow</p>
                                </div>
                            </li>
                        </div>

                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invicer.png" alt="Imagen invitado">
                                    <p class="text-center">Cersei Lannister</p>
                                </div>
                            </li>
                        </div>

                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invijam.png" alt="Imagen invitado">
                                    <p class="text-center">Jaime Lannister</p>
                                </div>
                            </li>
                        </div>

                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invityr.png" alt="Imagen invitado">
                                    <p class="text-center">Tyrion Lannister</p>
                                </div>
                            </li>
                        </div>

                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/inviary.png" alt="Imagen invitado">
                                    <p class="text-center">Arya Stark</p>
                                </div>
                            </li>
                        </div>

                        <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invistan.png" alt="Imagen invitado">
                                    <p class="text-center">Stannis Baratheon</p>
                                </div>
                            </li>
                        </div>

                         <div class="col-md-3">
                            <li>
                                <div class="invitado">
                                    <img src="/images/invibran.png" alt="Imagen invitado">
                                    <p class="text-center">Bran Stark</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </ul>
            </section>
        </div>
    </div>
</div>