body{
    /*background: #b92b27; */ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #1565C0, #b92b27);*/  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #1565C0, #b92b27); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(/images/texture.png);
}

.nav-link {
    color: #fff !important;
}
body{
    position: relative;
    min-height: 100vh;
}
header{
    width: 100%;
    background: url(/images/header1.png) ; 
    background-size: cover;
    height: 110vh;
    background-attachment: scroll;
    background-position: center 0;
    position: relative;
}
header .textos{
    color: white;
    top: 50%;
    transform: translateY(-50%) ;
    position: absolute;
    left: 200px;
    top: 80%;
}
header .textos .title{
    font-size: 28px;
}
footer {
    color: #fff !important;    
    width: 100%;
}
.navbar{
    font-size: 20px;
}
.contenedor{
    position: relative;  
}
.contenedor nav a {
    position: relative;
}
.imge{
    width: 80%;
    height: 70%;
}
.ul1 li{
    color: white;
    list-style-type: square;    
}
.twit{
    overflow: hidden;
    height: 600px;
}
.fondo{
    height: auto;
    background: rgba(0, 0, 0, .2);
    border-radius: 15px;
    margin-bottom: 30px;
}
.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.6);
}
.contador {
    position: relative;
    height: auto;    
}
.contador::before {
    background-image: url(/images/header.png);
    content: '';
}
.resumen-evento {
    position: relative;
    padding: 120px 0;
}
.resumen-evento li {
    width: 25%;
    float: left;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    list-style: none;
}
.numero {
    color: #FE4918;
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
    font-family: 'Oswald', sans-serif;
}
.fin{
    color: #FE4918;
    font-size: 35px;
}
.lista-invitados li {
    padding: 10px;
    float: left;
}
.invitado {
    position: relative;
    overflow: hidden; /** Que algo se salga no se muestre **/
}
.invitado img {
    width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 280px;
}
.invitado:hover img {
    filter: gray;
    -webkit-filter: grayscale(0);    
    -webkit-transform: scale(1.1);
    transition: scale(1.1);
}
.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: #FE4918;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}