
<script>
    var Rhaegal = new Object();
Rhaegal.nombre = "Rhaegal";
Rhaegal.edad = "2";
Rhaegal.fuerza = "100 kg";
Rhaegal.color = "Negro";
Rhaegal.asesinatos = Math.floor(Math.random() * 10) + 1 ;
Rhaegal.c_favorita = "ovejas";
</script>
<script>
    var Viserion = new Object();
Viserion.nombre = "Viserion";
Viserion.edad = "2";
Viserion.fuerza = "100 kg";
Viserion.color = "Negro";
Viserion.asesinatos = Math.floor(Math.random() * 15) + 1 ;;
Viserion.c_favorita = "ovejas";
</script>
<script>
    var Drogon = new Object();
Drogon.nombre = "Drogon";
Drogon.edad = "2";
Drogon.fuerza = "100 kg";
Drogon.color = "Negro";
Drogon.asesinatos = Math.floor(Math.random() * 20) + 1 ;;
Drogon.c_favorita = "ovejas";
</script>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class = "card-title"> 
                   <script>document.write(Rhaegal.nombre)
                        document.write(Rhaegal.edad)
                         document.write(Rhaegal.fuerza)
                       document.write(Rhaegal.color)
                       document.write(Rhaegal.asesinatos)
                       document.write(Rhaegal.c_favorita)
                   </script>
                   
                </h4>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class = "card-title"> 
                   <script>document.write(Viserion.nombre)
                        document.write(Viserion.edad)
                         document.write(Viserion.fuerza)
                       document.write(Viserion.color)
                       document.write(Viserion.asesinatos)
                       document.write(Viserion.c_favorita)
                   </script>
                   
                </h4>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class = "card-title"> 
                   <script>document.write(Drogon.nombre)
                       document.write(Drogon.edad)
                       document.write(Drogon.fuerza)
                       document.write(Drogon.color)
                       document.write(Drogon.asesinatos)
                       document.write(Drogon.c_favorita)
                   </script>
                   
                </h4>
                </form>
            </div>
        </div>
    </div>
</div>