<center><h1 style="color: crimson;">DRAGONES</h1></center>
<div class="p-4">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="card text-center my-2" style="height: 620px;">

                <div class="card-body p-0">                    
                    <img src="images/rha.jpg" style="padding: 0; margin:0; height:300px;" class="card-img-top p-0 m-0" alt="">
                    <h2 class="card-title text-uppercase mt-3">
                        Rhaegal
                    </h2>
                    <p class="card-text" style="font-size: 20px;">
                    <span class="font-weight-bold">Edad: </span> 2 años                     
                    </p>
    
                    <p style="font-size: 20px;">
                       <span class="font-weight-bold" >Fuerza: </span> 100 KG
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Color: </span> Verde con marcas de bronce
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Asesinatos: </span><span id="die2"></span> 
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Comida favorita: </span> Ovejas
                    </p>
                 
                </div>
            </div>
        </div>
   


        <div class="col-md-3">
            <div class="card text-center my-2" style="height: 620px;">

                <div class="card-body p-0">                    
                    <img src="images/dro.jpg" style="padding: 0; margin:0; height:300px;" class="card-img-top p-0 m-0" alt="">
                    <h2 class="card-title text-uppercase mt-3">
                        Drogon
                    </h2>
                    <p style="font-size: 20px;" class="card-text">
                    <span class="font-weight-bold">Edad: </span> 2 años                     
                    </p>
    
                    <p style="font-size: 20px;" >
                       <span class="font-weight-bold">Fuerza: </span> 150 KG
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Color: </span> Negro con marcas rojas
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Asesinatos: </span><span id="die1"></span> 
                    </p>

                     <p style="font-size: 20px;" >
                       <span class="font-weight-bold">Comida favorita: </span> Peces
                    </p>
                 
                </div>
            </div>
        </div>
 


        <div class="col-md-3">
            <div class="card text-center my-2" style="height: 620px;">

                <div class="card-body p-0 ">                    
                    <img src="images/vi.jpg" style="padding: 200; margin:300; height:300px;" class="card-img-top p-0 m-0" alt="">
                    <h2 class="card-title text-uppercase mt-3">
                        Viserion
                    </h2>
                    <p style="font-size: 20px;" class="card-text">
                    <span class="font-weight-bold">Edad: </span> 2 años                     
                    </p>
    
                    <p style="font-size: 20px;" >
                       <span class="font-weight-bold">Fuerza: </span> 80 KG
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Color: </span> Blanco cremoso con marcas de oro
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Asesinatos: </span><span id="die"></span> 
                    </p>

                     <p style="font-size: 20px;">
                       <span class="font-weight-bold">Comida favorita: </span> Caballos
                    </p>
                 
                </div>
            </div>
        </div>
  </div>
</div>
<script >
    document.getElementById("die").innerHTML =Math.floor(Math.random() * 50);
    document.getElementById("die1").innerHTML =Math.floor(Math.random() * 50);
    document.getElementById("die2").innerHTML =Math.floor(Math.random() * 50);
</script>