<div class="container">
    <div class="row">
        <div class="col-md-8 fondo mt-5">
            <h2 class="text-center text-white my-4 ">Casa Baratheon</h2>

            <h4 class="text-white">Familia Baratheon</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify text-white"> <span class="text-danger">Robert Baratheon: </span>Interpretado
                        por Mark Addy. Robert Baratjeon es el primer hijo de Lord Steffon Baratheon y Lady Cassana
                        Estermont. Es el rey de Poniente y cabeza de la casa Baratheon. Fue coronado luego de la
                        victoria de los rebeldes en la Guerra del Usurpador. </p>
                </div>
                <div class="col-md-6">
                    <img src="/images/rob.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-4">
                    <img src="/images/ce.png" alt="">
                </div>

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Cersei Lannister (Baratheon):
                        </span>Interpretada por Lena Headey. La reina Cersei Lannister es la hija mayor de Lord Tywin
                        Lannister. Tiene dos hermanos, su mellizo Jaime y Tyrion. Después de la Guerra del Usurpador se
                        casó con el nuevo rey, Robert Baratheon, y se convirtió en Reina de los Siete Reinos. Es madre
                        de tres hijos, Joffrey, Myrcella y Tommen.</p>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Joffrey Baratheon:
                        </span>Interpretado por Jack Glesson. El rey Joffrey Baratheon es el hijo primogénito del rey
                        Robert Baratheon y la reina Cersei Lannister. Tiene dos hermanos, Myrcella y Tommen.</p>
                </div>
                <div class="col-md-6 my-4">
                    <img src="/images/jof.png" alt="">
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 my-4">
                    <img src="/images/myrc.png" alt="">
                </div>

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Myrcella Baratheon:
                        </span>Interpretada por Aimee Richardson. La princesa Myrcella Baratheon es la única hija del
                        rey Robert Baratheon y la reina Cersei Lannister. Tiene dos hermanos, Joffrey y Tommen.</p>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Tommen Baratheon:
                        </span>Interpretado por Callum Wharry y Dean-Charles Chapman. Tommen Baratheon es el tercer hijo
                        del rey Robert Baratheon y la reina Cersei Lannister.</p>
                </div>
                <div class="col-md-6 my-4">
                    <img src="/images/tom.png" alt="">
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 my-4">
                    <img src="/images/stan.png" alt="">
                </div>

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Stannis Baratheon:
                        </span>Interpretado por Stephen Dillane. Stannis Baratheon es el segundo hijo de Lord Steffon
                        Baratheon y Lady Cassana Estermont, y hermano deRobert y Renly Baratheon. Después de la Rebelión
                        de Robert, el nuevo rey le nombró Señor de Rocadragón y Señor Supremo de las Tierras de
                        Tormentas. Sirvió en el Consejo Privado de su hermano como Consejero de Barcos. </p>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Renly Baratheon:
                        </span> Interpretado por Gethin Anthony. Renly Baratheon es el hijo menor de Lord Steffon
                        Baratheon y Lady Cassana Estermont. Luego de la Guerra del Usurpador fue nombrado Señor de
                        Bastión de Tormentas. Sirvió en el Consejo Privado de su hermano, el rey Robert I, como
                        Consejero de Leyes.</p>
                </div>
                <div class="col-md-6 my-4">
                    <img src="/images/ren.png" alt="">
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="card text-center my-5">
                <div class="card-body ">
                    <img src="/images/baratheon.png" style="padding: 0; margin:0; height:150px;"
                        class="card-img-top p-0 m-0 " alt="">
                    <h4 class="card-title text-uppercase my-3">
                        Ours is the fury
                    </h4>
                    <div class="card-text text-left pl-3">
                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Emblema: </span>un venado coronado sobre fondo sable sobre
                            oro.
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Lema: </span> Nuestra es la furia
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Ubicación: </span>En el Sur, con sedes en Bastión de
                            Tormentas, Rocadragón y Desembarco del Rey.
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>