<div class="container">
    <div class="row">
        <div class="col-md-8 fondo mt-5">
            <h2 class="text-center text-white my-4 ">Casa Lannister</h2>

            <h4 class="text-white">Familia Lannister</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify text-white"> <span class="text-danger">Tywin Lannister: </span>Interpretado
                        por Charles Dance. Lord Tywin Lannister es cabeza de la Casa Lannister y, como tal, Señor de
                        Roca Casterly, Escudo de Lannisport y Guardián del Occidente. Está casado con su prima, Lady
                        Joanna Lannister, con quien tuvo tres hijos, Jaime, Cersei y Tyrion.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/ty.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-4">
                    <img src="/images/ce.png" alt="">
                </div>

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Cersei Lannister (Baratheon):
                        </span>Interpretada por Lena Headey. La reina Cersei Lannister es la hija mayor de Lord Tywin
                        Lannister. Tiene dos hermanos, su mellizo Jaime y Tyrion. Después de la Guerra del Usurpador se
                        casó con el nuevo rey, Robert Baratheon, y se convirtió en Reina de los Siete Reinos. Es madre
                        de tres hijos, Joffrey, Myrcella y Tommen.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 my-2">
                    <p class="text-justify text-white"> <span class="text-danger">Jaime Lannister: </span>Interpretado
                        por Nikolaj Coster-Waldau. Ser Jaime Lannister, apodado Matarreyes, es el segundo hijo de Lord
                        Tywin Lannister y Lady Joanna Lannister. Tiene una hermana melliza, Cersei, y un hermano menor,
                        Tyrion. Se ganó el apodo de Matarreyes luego de asesinar al reyAerys II al término de la
                        Rebelión de Robert.</p>
                </div>

                <div class="col-md-6 my-2">
                    <img src="/images/ja.png" alt="">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 my-3">
                    <img src="/images/tyr.png" alt="">
                </div>

                <div class="col-md-6 my-3">
                    <p class="text-justify text-white"> <span class="text-danger">Tyrion Lannister: </span>Interpretado
                        por Peter Dinklage. Tyrion Lannister es el tercer hijo de Lord Tywin Lannister y Lady Joanna
                        Lannister, y hermano menor de los mellizos Cersei y Jaime. Es apodado el Gnomo y Mediohombre
                        debido a su enanismo.</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card text-center my-5">
                <div class="card-body ">
                    <img src="/images/lannister.png" style="padding: 0; margin:0; height:150px;"
                        class="card-img-top p-0 m-0 " alt="">
                    <h4 class="card-title text-uppercase my-3">
                        Hear me roar
                    </h4>
                    <div class="card-text text-left pl-3">
                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Emblema: </span> un león rampante de oro sobre campo de
                            gules.
                            hielo.
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Lema: </span> Oye mi rugido
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Ubicación: </span>En el Oeste, con sedes en Roca Casterly y
                            Lannisport.
                            Invernalia.
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>