<div class="container">
    <div class="row">
        <div class="col-md-8 fondo mt-5">
            <h2 class="text-center text-white my-4 ">Casa Stark</h2>

            <h4 class="text-white">Familia Stark</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify text-white"> <span class="text-danger">Eddard Stark: </span>Interpretado por
                        el
                        actor Sean Bean. Lord Eddard Stark, apodado Ned, es cabeza de la Casa Stark y, como tal, Señor
                        de
                        Invernalia y Guardián del Norte. Se casó con Catelyn Tully, con quien tuvo cinco hijos Robb,
                        Sansa,
                        Arya, Bran y Rickon. Además, tiene un hijo bastardo, Jon Nieve. </p>
                </div>
                <div class="col-md-6">
                    <img src="/images/ed.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-4">
                    <img src="/images/ca.png" alt="">
                </div>

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Catelyn Tully (Stark):
                        </span>Interpretada por
                        Michelle Fairley. Lady Catelyn Tully es la hija mayor de Lord Hoster Tully y Lady Minisa Whent.
                        Poco
                        antes de iniciada la Guerra del Usurpador se convierte en esposa de Lord Eddard Stark y Señora
                        de
                        Invernalia. Tiene cinco hijos, Robb, Sansa, Arya, Bran y Rickon.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 my-2">
                    <p class="text-justify text-white"> <span class="text-danger">Robb Stark: </span>Interpretado por
                        Richard
                        Madden. Robb Stark es el hijo primogénito de Lord Eddard Stark y Lady Catelyn Tully y el
                        heredero de
                        Invernalia y el Norte. Tiene dos hermanas, Sansa y Arya; dos hermanos, Bran y Rickon, y un
                        medio-hermano
                        bastardo, Jon Nieve. Tiene un lobo huargo llamado Viento Gris.</p>
                </div>

                <div class="col-md-6 my-2">
                    <img src="/images/ro.png" alt="">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 my-3">
                    <img src="/images/jo.png" alt="">
                </div>

                <div class="col-md-6 my-3">
                    <p class="text-justify text-white"> <span class="text-danger">Jon Snow: </span>Interpretado por Kit
                        Harrington. Jon Nieve es el hijo bastardo de Lord Eddard Stark, teniendo la misma edad que el
                        primogénito de éste, Robb. Eddard insistió en ocuparse de él a pesar de las objeciones de su
                        esposa
                        Catelyn, por lo que Jon creció junto a los hijos legítimos Stark y mantenía una relación cercana
                        con
                        todos excepto con su hermana Sansa y Lady Catelyn. Su lobo huargo, Fantasma, es albino y mudo.
                        El
                        emblema personal de Jon consiste en los colores de la Casa Stark invertidos: un lobo huargo de
                        plata
                        corriendo sobre fondo de cenizo.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 my-3">
                    <p class="text-justify text-white"> <span class="text-danger">Sansa Stark: </span>Interpretada por
                        Sophie
                        Turner. Sansa Stark es la hija mayor de Lord Eddard Stark y Lady Catelyn Tully. Tiene tres
                        hermanos,
                        Robb, Bran y Rickon; una hermana, Arya, y un hermano bastardo, Jon Nieve. Tiene una loba huargo
                        llamada
                        Dama.</p>
                </div>

                <div class="col-md-6 my-3">
                    <img src="/images/sa.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-3">
                    <img src="/images/br.png" alt="">
                </div>

                <div class="col-md-6 my-3">
                    <p class="text-justify text-white"> <span class="text-danger">Bran Stark: </span>Interpretado por
                        Isaac
                        Hempstead - Wright. Bran (o Brandon) Stark es el segundo hijo y heredero de Lord Eddard Stark y
                        Lady
                        Catelyn Tully. Tiene dos hermanas, Sansa y Arya; dos hermanos, Robb y Rickon, y un medio-hermano
                        bastardo, Jon Nieve. Está siempre acompañado de su lobo huargo Verano. </p>

                </div>
            </div>




            <div class="row">
                <div class="col-md-6 my-3">
                    <p class="text-justify text-white"> <span class="text-danger">Arya Stark: </span>Interpretada por
                        Maisie
                        Williams. Arya Stark es la segunda hija de Lord Eddard Stark y Lady Catelyn Tully. Tiene una
                        hermana,
                        Sansa; tres hermanos, Robb, Bran y Rickon, y un medio-hermano bastardo, Jon Nieve, al que
                        aprecia mucho.
                        Como algunos de sus hermanos, ella es una cambiapieles, pudiendo entrar en la piel de su loba
                        huargo,
                        Nymeria. </p>
                </div>

                <div class="col-md-6 my-3">
                    <img src="/images/ar.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-3">
                    <img src="/images/ri.png" alt="">
                </div>

                <div class="col-md-6 my-3">
            <p class="text-justify text-white"> <span class="text-danger">Rickon Stark: </span>Interpretado por Art
                Parkinson. Rickon Stark es el hijo menor de Lord Eddard Stark y Lady Catelyn Tully. Tiene dos hermanos,
                Robb y Bran; dos hermanas, Sansa y Arya, y un medio-hermano bastardo, Jon Nieve. Normalmente es
                acompañado por su lobo huargo, Peludo.</p>
                </div>
            </div>



        </div>

        <div class="col-md-4">
            <div class="card text-center my-5">
                <div class="card-body ">
                    <img src="/images/stark.png" style="padding: 0; margin:0; height:150px;"
                        class="card-img-top p-0 m-0 " alt="">
                    <h4 class="card-title text-uppercase my-3">
                        Winter in Coming
                    </h4>
                    <div class="card-text text-left pl-3">
                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Emblema: </span> un lobo huargo gris sobre fondo blanco
                            hielo.
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Lema: </span> Se acerca el invierno
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Ubicación: </span>Al norte de Poniente, con capital en
                            Invernalia.
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>