<div class="container">
    <div class="row">
        <div class="col-md-8 fondo mt-5">
            <h2 class="text-center text-white my-4 ">Casa Targaryen</h2>

            <h4 class="text-white">Familia Targaryen</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify text-white"> <span class="text-danger">Viserys Targaryen: </span>Interpretado
                        por Harry Lloyd .Viserys Targaryen, llamado el Rey Mendigo, es el segundo hijo del rey Aerys II
                        Targaryen y la reina Rhaella Targaryen. Se convirtió en el heredero legítimo de su padre luego
                        de que su hermano Rhaegar muriera en la Rebelión de Robert. La guerra lo convirtió en exiliado,
                        desde donde planeó recuperar el Trono de Hierro.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/vis.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 my-4">
                    <img src="/images/dae.png" alt="">
                </div>

                <div class="col-md-6 my-4">
                    <p class="text-justify text-white"> <span class="text-danger">Daenerys Targaryen:
                        </span>Interpretada por Emilia Clarke. Daenerys Targaryen, también llamada de manera más
                        informal,Dany, es la única hija del rey Aerys II Targaryen y su hermana-esposa, la reina
                        Rhaella. Luego de la Guerra del Usurpador, durante la que murieron sus padres y su hermano mayor
                        Rhaegar, ella y su hermano Viserys vivieron en el exilio, esperando el momento de volver a
                        Poniente y reclamar el Trono de Hierro.</p>
                </div>

            </div>  

        </div>

        <div class="col-md-4">
            <div class="card text-center my-5">
                <div class="card-body ">
                    <img src="/images/targaryen.png" style="padding: 0; margin:0; height:150px;"
                        class="card-img-top p-0 m-0 " alt="">
                    <h4 class="card-title text-uppercase my-3">
                        Fire and blood
                    </h4>
                    <div class="card-text text-left pl-3">
                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Emblema: </span>un dragón de tres cabezas de gules en campo
                            sable
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Lema: </span> Fuego y sangre
                        </h5>

                        <h5 class="text-left" style="font-size: 16px;">
                            <span class="font-weight-bold">Ubicación: </span>Sus sedes eran en Desembarco del Rey,
                            Rocadragón y el castillo de Refugio Estival.
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>